:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6e6ff ;
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 0;
    color: #39a6b2;
    background-color: #4d4d4d;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    padding: 0 10px 0 60px;
    background-color: #39a6b2;
    color: #4d4d4d;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

header a {
    color: #39a6b2;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(153, 153, 153, 0.5);
}

header nav ul li a:hover {
    background:#e6e6ff;
    color: #000066;
    border-radius: 15px;
    text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */

/* FOOTER STYLES START */

footer {
    background: #4d4d4d;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #39a6b2;
}

/* END FOOTER STYLES */

/* STYLE ALL SECTION TAGS */

section {
    padding: 60px 0;
    display:flex;
    justify-content: center;
}

/* HERO STYLE START */

.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: #000066;
}

  .hero img {
      height: 500px;
      width: 400px;
  }

  .hero div {
     background-color: #39a6b2;
     margin: 0;
     padding: 0 20px 0 20px;
     font-size: 36px;
  }
  
/* HERO STYLE END */

/* UTILITIES */

.flex-row {
    display: flex;
    flex-direction: column;
}
/* SECTION CONTENT STYLES START */
.content {
    margin: 50px 100px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
    width: 80%;
    
}
.section-title {
    font-size: 40px;
    color: #000066;
    padding: 20px 10px 20px 0;
    text-align: right;
    margin: 0 auto 35px auto;
    flex: 1 30%;
}

.info {
    padding: 40px 0 50px 30px;
    border-left: 3px solid #000066;
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
}
    
    
/* SECTION CONTENT STYLES END */

/* SECTION WORK STYLES START */

.second-row, .third-row {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.project, .project-main {
    position: relative;
}

.project h3, .project-main h3 {
  position: absolute;
  bottom: 30px;
  left: 0;
  background-color: #39a6b2;
  color: #000066;
  padding: 20px 20px;
}

.project img {
    width: 400px;
    height: 200px;
    border: 2px solid #000066;
    margin-right: 10px;
}

.project-main img {
    width: 810px;
    height: 400px;
    border: 2px solid #000066;
    
}

/* SECTION WORK STYLES END */

/* SECTION CONTACT ME STYLES START */

.contact-info ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-info ul li a {
    padding: 10px 30px;
    font-weight: lighter;
    font-size: 26px;
}

/* SECTION CONTACT ME STYLES END */

/* SECTION RESUME START */

.info iframe {
    width: 400px;
    height: 400px;
    padding: 10px;
}

/* SECTION RESUME END */