:root {
    --primary-color: #004666;
    --secondary-color: #002766;
    --tertiary-color: #39a6b2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6e6ff ;
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    margin: 10px 0 10px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

header a {
    color: var(--tertiary-color);
    text-decoration: none;
}

header nav {
    margin: 10px 0;
    padding: 0 55px;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 5px 10px;
    font-weight: lighter;
    font-size: 1.50vw;
    text-align: center;
    text-shadow: 0 0 10px rgba(153, 153, 153, 0.5);
}

header nav ul li a:hover {
    background:#e6e6ff;
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */

/* FOOTER STYLES START */

footer {
    background: var(--secondary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: var(--tertiary-color);
}

footer h2 {
    font-size: 30px;
    margin: 0;
}

/* END FOOTER STYLES */


/* HERO STYLE START */

.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: var(--primary-color);
}

  .hero img {
    width: 215px;
    height: auto;
    position: relative;
  }

  .cool-subtitle {
    text-align: right;
    background-color: var(--tertiary-color);
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 30px;
    position: relative;

  }
  
/* HERO STYLE END */
/* About Me Styles */
.about-me {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    margin: 20px 0;
}

.about-me p {
    width: 70%;
    margin-left: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

/* Work Styles */
.work  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.work h2 {
    justify-content: center;
}
.section-title {
    font-size: 38px;
    width: 20%;
    display: flex;
    flex: initial;
    justify-content: center;
    padding-right: 15px;
    border-right: solid 5px var(--primary-color);
    text-align: right;
    margin: 20px 0;
    color: var(--primary-color);
}

.content {
    width: 70%;
    margin: 30px 0;
}

/* Grid Styles */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
    margin-left: 20px;
    width: 100%;
    grid-auto-flow: dense;
}

.project-1 {
    margin-bottom: 30px;
    margin-left: 20px;
    width: 100%;
}

.link {
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0.5;
    border: solid 2px var(--primary-color);

}

.link:hover {
    opacity: 1;
 }

.project-1 a {
    height: 410px;
    background-image: url(../images/weather-dashboard.jpg);
    grid-column:  span 2;
    grid-row: span 2;
 }

 .grid a {
    height: 200px;
 }

.project-2 a {  
    background-image: url(../images/vibe-dashboard.JPG);
}

.project-3 a {
    background-image: url(../images/tech-blog.jpg);
}

.project-4 a {
    background-image: url(../images/password-generator.jpg);
}

.project-5 a {
    background-image: url(../images/pizza-hunt.jpg);
}


.content h3, .content p {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    width: 100%;
}


/* Contact Me Styles */
.contact-me {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.contact-info a {
    text-decoration: underline;
    color: var(--secondary-color);
    font-size: 25px;
    display: inline-block;
    margin-left: 20px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.contact-info a:hover {
    color: var(--primary-color);
}

/* MEDIA QUERIES BEGIN */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen AND (max-width: 980px) {
    header {
        padding: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 18px;
    }

    .hero {
        justify-content: space-around;
    }

    .link {
        opacity: 1;
    }
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .cool-subtitle {
        font-size: 20px;
    }

    .hero-img {
        width: 120px;
    }

     .about-me {
        font-size: 15px;
        justify-content: center;
    }

    .section-title {
        flex: 1 100%;
        border-bottom: solid 3px;
        border-right: none;
        text-align: center;
    }

    .content {
        width: 100%;  
    }

    .grid, .project-1  {
        margin: 20px 0;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }

    .contact-me {
        flex-wrap: wrap;
    }

    .contact-info a {
        padding-right: 0;
    }
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .cool-subtitle{
        font-size: 20px;
    }

    .hero-img {
        width: 120px;
    }

    .about-me {
        font-size: 15px;
        justify-content: center;
    }

    .section-title {
        flex: 1 100%;
        border-bottom: solid 3px;
        border-right: none;
        text-align: center;
    }

    .content {
        width: 100%;  
    }

    .grid, .project-1 {
        margin: 20px 0;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }

    .contact-info a {
        padding-right: 0;
    }

}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER than 400px */
@media screen and (max-width: 400px) {
.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

    .contact-info {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #email {
        margin-left: 0;
        padding-left: 3px;
        padding-right: 3px;
        overflow-wrap: break-word;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER than 300px */
@media screen and (max-width: 300px) {
    .contact-info {
        display: flex;
        justify-content:flex-start;
        flex-wrap: wrap;
    }
    
    #email {
        margin-left: 0;
        overflow-wrap: break-word;
    }
}